<#@ template debug="false" hostspecific="false" linePragmas="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

#pragma warning disable CS8669 // We may leak nullable annotations into generated code.

using MsgPack = global::MessagePack;

<# using (this.EmitNestingTypesAndNamespaces(this.Write)) { #>

<#  bool isFormatterResolverNecessary = GeneratorUtilities.ShouldUseFormatterResolver(Info.Members);#>
	internal sealed class <#= Info.Formatter.GetQualifiedName(Qualifiers.None) #> : MsgPack::Formatters.IMessagePackFormatter<<#= Info.DataType.GetQualifiedName(genericStyle: GenericParameterStyle.Identifiers) #>>
<# TransformUtilities.EmitTypeConstraints(Info.Formatter, this.Write); #>
	{
<# foreach (var item in Info.Members) { #>
<# if (item.CustomFormatter != null) { #>
		private readonly <#= item.CustomFormatter.InstanceTypeName.GetQualifiedName(genericStyle: GenericParameterStyle.Arguments) #> __<#= item.Name #>CustomFormatter__ = <#= item.CustomFormatter.InstanceExpression #>;
<# } #>
<# } #>

		public void Serialize(ref MsgPack::MessagePackWriter writer, <#= Info.DataType.GetQualifiedName(genericStyle: GenericParameterStyle.Identifiers) #> value, MsgPack::MessagePackSerializerOptions options)
		{
<# if (Info.IsClass) { #>
			if (value == null)
			{
				writer.WriteNil();
				return;
			}

<# }

  if (isFormatterResolverNecessary) { #>
			MsgPack::IFormatterResolver formatterResolver = options.Resolver;
<# }

 if (Info.HasIMessagePackSerializationCallbackReceiver) {
  if (Info.NeedsCastOnBefore) { #>
			((MsgPack::IMessagePackSerializationCallbackReceiver)value).OnBeforeSerialize();
<# } else { #>
			value.OnBeforeSerialize();
<# } #>
<# } #>
			writer.WriteArrayHeader(<#= Info.MaxKey + 1 #>);
<# for (var i = 0; i <= Info.MaxKey; i++) {
  var member = Info.GetMember(i);
  if (member == null) { #>
			writer.WriteNil();
<# } else { #>
			<#= member.GetSerializeMethodString() #>;
<# } #>
<# } #>
		}
	}
<# } #>
