<#@ template debug="false" hostspecific="false" linePragmas="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="MessagePack.SourceGenerator.CodeAnalysis" #>

using MsgPack = global::MessagePack;

<# var list = new List<ValueTuple<MemberSerializationInfo, byte[]>>();
	foreach (var member in Info.Members) {
		var binary = EmbedStringHelper.Utf8.GetBytes(member.StringKey);
		list.Add(new ValueTuple<MemberSerializationInfo, byte[]>(member, binary));
	}

	bool isFormatterResolverNecessary = GeneratorUtilities.ShouldUseFormatterResolver(Info.Members); #>
<# using (this.EmitNestingTypesAndNamespaces(this.Write)) { #>
	internal sealed class <#= Info.Formatter.GetQualifiedName(Qualifiers.None) #> : global::MessagePack.Formatters.IMessagePackFormatter<<#= Info.DataType.GetQualifiedName() #>>
<# TransformUtilities.EmitTypeConstraints(Info.Formatter, this.Write); #>
	{
<# foreach (var item in Info.Members) { #>
<# if (item.CustomFormatter != null) { #>
		private readonly <#= item.CustomFormatter.Name.GetQualifiedName() #> __<#= item.Name #>CustomFormatter__ = <#= item.CustomFormatter.InstanceExpression #>;
<# } #>
<# } #>
<# for (var i = 0; i < list.Count; i++) {
		var member = list[i].Item1;
		var binary = list[i].Item2; #>
		// <#= member.StringKey #>
		private static global::System.ReadOnlySpan<byte> GetSpan_<#= member.UniqueIdentifier #>() => <#= EmbedStringHelper.ToByteArrayString(binary) #>;
<# } #>
<# if (list.Count != 0) { #>

<# } #>
		public void Serialize(ref global::MessagePack.MessagePackWriter writer, <#= Info.DataType.GetQualifiedName() #> value, global::MessagePack.MessagePackSerializerOptions options)
		{
<# if (Info.IsClass) { #>
			if (value is null)
			{
				writer.WriteNil();
				return;
			}

<# }

	if (isFormatterResolverNecessary) { #>
			var formatterResolver = options.Resolver;
<# }

	if (Info.HasIMessagePackSerializationCallbackReceiver) {
		if (Info.NeedsCastOnBefore) { #>
			((global::MessagePack.IMessagePackSerializationCallbackReceiver)value).OnBeforeSerialize();
<# } else { #>
			value.OnBeforeSerialize();
<# } #>
<# } #>
			writer.WriteMapHeader(<#= list.Count #>);
<# foreach (var memberAndBinary in list) {
		var member = memberAndBinary.Item1; #>
			writer.WriteRaw(GetSpan_<#= member.UniqueIdentifier #>());
			<#= member.GetSerializeMethodString() #>;
<# } #>
		}
	}

<# } #>
